@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color : #fff;
  --text-color : #0000008f;
  --text-size : 15px;
}

:root, [data-theme] {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size);
}